<div class="container">
    <form method="POST" action="/cursos/cadastrar">
        <input class="form-control mt-4" placeholder="Nome" name="nome" />
        <input class="form-control mt-4" placeholder="Duração" name="duracao" />
        <input class="btn btn-primary mt-4" type="submit" value="Cadastrar" />
    </form>
</div>