<div class="container">
    <h2>Detalhe de curso</h2>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Id: {{curso.id}} </h3>
            <p class="card-text">Nome: {{curso.nome}} </p>
            <p class="card-text">Duração {{curso.duracao}} </p>
        </div>
    </div>
</div>