<div class="container">
    <h2>Detalhe de curso</h2>
    <form action="/cursos/deletar/?_method=DELETE" method="POST">
        Id:<input type="text" value="{{curso.id}}" class="form-control" name="id"/>
        Nome:<input type="text" value="{{curso.nome}}" class="form-control" name="nome"/>
        Duração:<input type="text" value="{{curso.duracao}}" class="form-control" name="duracao"/>
        <input type="submit" value="Deletar" class="btn btn-danger" />
    </form>
</div>