<div class="container">
    <form method="POST" action="/cursos/cadastrar">
        <input class="form-control" placeholder="Nome" name="nome" />
        <input class="form-control" placeholder="Duração" name="duracao" />
        <input type="submit" value="Cadastrar" />
    </form>
</div>