<div class="container">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Curso de Node e Express</h5>
            <h6 class="card-subtitle mb-2 text-muted">Parte 1</h6>
            <p class="card-text">O objetivo é ajudar o aluno a saber criar uma aplicação funcional com as tecnologias Node e Express</p>
            <a href="https://www.nodejs.org" class="card-link">Node</a>
            <a href="http://www.expressjs.com" class="card-link">Express</a>
        </div>
    </div>
</div>
