<div class="container">
    <nav class="navbar navbar-dark">
        <a href="#" class="navbar-brand">Home</a>
        <a href="#" class="nav-link">Listar</a>
        <a href="#" class="nav-link">Novo</a>
    </nav>


    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Mini sistema de exemplo para Node, Express e Postgres</h5>
            <p class="card-text">O objetivo é ajudar o aluno a saber criar uma aplicação funcional com as tecnologias Node, Express e Postgres</p>
            <a href="https://www.github.com/harleymacedo/aula-node-express-postgres" class="card-link">Github do Projeto</a>
        </div>
    </div>
</div>
